<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="python.exe" arguments="-u -m primo_mcp_server" stdoutLogEnabled="false" startupTimeLimit="600" />
  </system.webServer>
</configuration>
